{% extends "base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<h2>Registro</h2>
<form method="post">
  <div class="mb-3">
    <label class="form-label">Nombre de usuario</label>
    <input class="form-control" name="username" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input class="form-control" name="password" type="password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Confirmar Password</label>
    <input class="form-control" name="confirm_password" type="password" required>
  </div>
  <button class="btn btn-primary" type="submit">Registrar</button>
</form>
{% endblock %}